@import (less) "variables.less";

.entitiesList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entitiesList > li {
    list-style: none;
    margin: 5px 5px 10px 5px;
    display: flex;
}

.entitiesList > li > div {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    border: 1px solid #666;
    flex: 1;
}

.entitiesList > li > div:hover {
    cursor: pointer;
}

.entitiesList > li.selected > div:hover {
    cursor: default;
}

.entitiesList li .icon {
    width: 22px;
    height: 22px;
    margin-right: 2px;
    display: inline-block;
    background-position: 3px 3px;
    background-repeat: no-repeat;
}

.entitiesList .header {
    display: flex;
}

.entitiesList .header .entityTitle {
    flex: 1;
    line-height: 1.5em;
    font-size: 1em;
    vertical-align: 6px;
    display: inline-block;
}

.entitiesList .selected .entityTitle {
    color: #fff;
}

.entitiesList .actions {
    margin: 6px 0 2px 2px;
    display: none;
}

.entitiesList > li:hover .actions, .entitiesList .expanded .actions, .entitiesList > li.candidate .actions {
    display: block;
}

.entitiesList .actions > span {
    background: none !important;
    border: none !important;
}

.entitiesList .info {
    display: none;
}

.entitiesList .expanded .info {
    display: block;
    padding: 0px 3px 3px 3px;
}

.entitiesList .info ul {
    list-style: none;
    background-color: #fff;
    padding: 2px;
    color: #000;
    max-height: 160px;
    overflow: auto;
    border-radius: 2px;
}

.entitiesList .info ul li {
    list-style: none;
    height: auto;
    font-size: 1em;
    margin: 5px;
    word-break: break-all;
}


.entitiesList .person .icon, .entitiesList.candidates .person.candidate .icon {
    background-image: url('../img/user.png');
    opacity: 1;
}
.entitiesList .person > div, .entitiesList.candidates .person.candidate > div {
    background-color: mix(desaturate(@entity-person, 30%), #fff, 50%);
}
.entitiesList.candidates .person > div {
    background-color: mix(desaturate(@entity-person, 60%), #fff, 25%);
}
.entitiesList.candidates .person .icon {
    opacity: 0.5;
}


.entitiesList .place .icon, .entitiesList.candidates .place.candidate .icon {
    background-image: url('../img/world.png');
    opacity: 1;
}
.entitiesList .place > div, .entitiesList.candidates .place.candidate > div {
    background-color: mix(desaturate(@entity-place, 30%), #fff, 50%);
}
.entitiesList.candidates .place > div {
    background-color: mix(desaturate(@entity-place, 60%), #fff, 25%);
}
.entitiesList.candidates .place .icon {
    opacity: 0.5;
}


.entitiesList .date .icon, .entitiesList.candidates .date.candidate .icon {
    background-image: url('../img/calendar.png');
    opacity: 1;
}
.entitiesList .date > div, .entitiesList.candidates .date.candidate > div {
    background-color: mix(desaturate(@entity-date, 30%), #fff, 50%);
}
.entitiesList.candidates .date > div {
    background-color: mix(desaturate(@entity-date, 60%), #fff, 25%);
}
.entitiesList.candidates .date .icon {
    opacity: 0.5;
}


.entitiesList .org .icon, .entitiesList.candidates .org.candidate .icon {
    background-image: url('../img/group.png');
    opacity: 1;
}
.entitiesList .org > div, .entitiesList.candidates .org.candidate > div {
    background-color: mix(desaturate(@entity-org, 30%), #fff, 50%);
}
.entitiesList.candidates .org > div {
    background-color: mix(desaturate(@entity-org, 60%), #fff, 25%);
}
.entitiesList.candidates .org .icon {
    opacity: 0.5;
}


.entitiesList .citation .icon, .entitiesList.candidates .citation.candidate .icon {
    background-image: url('../img/vcard.png');
    opacity: 1;
}
.entitiesList .citation > div, .entitiesList.candidates .citation.candidate > div {
    background-color: mix(desaturate(@entity-citation, 30%), #fff, 50%);
}
.entitiesList.candidates .citation > div {
    background-color: mix(desaturate(@entity-citation, 60%), #fff, 25%);
}
.entitiesList.candidates .citation .icon {
    opacity: 0.5;
}


.entitiesList .note .icon, .entitiesList.candidates .note.candidate .icon {
    background-image: url('../img/note.png');
    opacity: 1;
}
.entitiesList .note > div, .entitiesList.candidates .note.candidate > div {
    background-color: mix(desaturate(@entity-note, 30%), #fff, 50%);
}
.entitiesList.candidates .note > div {
    background-color: mix(desaturate(@entity-note, 60%), #fff, 25%);
}
.entitiesList.candidates .note .icon {
    opacity: 0.5;
}


.entitiesList .title .icon, .entitiesList.candidates .title.candidate .icon {
    background-image: url('../img/book.png');
    opacity: 1;
}
.entitiesList .title > div, .entitiesList.candidates .title.candidate > div {
    background-color: mix(desaturate(@entity-title, 30%), #fff, 50%);
}
.entitiesList.candidates .title > div {
    background-color: mix(desaturate(@entity-title, 60%), #fff, 25%);
}
.entitiesList.candidates .title .icon {
    opacity: 0.5;
}


.entitiesList .correction .icon, .entitiesList.candidates .correction.candidate .icon {
    background-image: url('../img/error.png');
    opacity: 1;
}
.entitiesList .correction > div, .entitiesList.candidates .correction.candidate > div {
    background-color: mix(desaturate(@entity-correction, 30%), #fff, 50%);
}
.entitiesList.candidates .correction > div {
    background-color: mix(desaturate(@entity-correction, 60%), #fff, 25%);
}
.entitiesList.candidates .correction .icon {
    opacity: 0.5;
}


.entitiesList .keyword .icon, .entitiesList.candidates .keyword.candidate .icon {
    background-image: url('../img/page_key.png');
    opacity: 1;
}
.entitiesList .keyword > div, .entitiesList.candidates .keyword.candidate > div {
    background-color: mix(desaturate(@entity-keyword, 30%), #fff, 50%);
}
.entitiesList.candidates .keyword > div {
    background-color: mix(desaturate(@entity-keyword, 60%), #fff, 25%);
}
.entitiesList.candidates .keyword .icon {
    opacity: 0.5;
}


.entitiesList .link .icon, .entitiesList.candidates .link.candidate .icon {
    background-image: url('../img/link.png');
    opacity: 1;
}
.entitiesList .link > div, .entitiesList.candidates .link.candidate > div {
    background-color: mix(desaturate(@entity-link, 30%), #fff, 50%);
}
.entitiesList.candidates .link > div {
    background-color: mix(desaturate(@entity-link, 60%), #fff, 25%);
}
.entitiesList.candidates .link .icon {
    opacity: 0.5;
}
