@import (less) "variables.less";

.entitiesList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entitiesList li .box {
    width: 22px;
    height: 22px;
    margin-right: 2px;
    display: inline-block;
    background-position: 3px 3px;
    background-repeat: no-repeat;
}

.entitiesList .person .box {
    background-image: url('../img/user.png');
}

.entitiesList .person {
    background-color: mix(desaturate(@entity-person, 30%), #fff, 50%);
}

.entitiesList .person.selected, .entitiesList .person.over {
    background-color: @entity-person;
}

.entitiesList .place .box {
    background-image: url('../img/world.png');
}

.entitiesList .place {
    background-color: mix(desaturate(@entity-place, 30%), #fff, 50%);
}

.entitiesList .place.selected, .entitiesList .place.over {
    background-color: @entity-place;
}

.entitiesList .date .box {
    background-image: url('../img/calendar.png');
}

.entitiesList .date {
    background-color: mix(desaturate(@entity-date, 30%), #fff, 50%);
}

.entitiesList .date.selected, .entitiesList .date.over {
    background-color: @entity-date;
}

.entitiesList .event .box {
    background-image: url('../img/cake.png');
}

.entitiesList .event {
    background-color: mix(desaturate(@entity-event, 30%), #fff, 50%);
}

.entitiesList .event.selected, .entitiesList .event.over {
    background-color: @entity-event;
}

.entitiesList .org .box {
    background-image: url('../img/group.png');
}

.entitiesList .org {
    background-color: mix(desaturate(@entity-org, 30%), #fff, 50%);
}

.entitiesList .org.selected, .entitiesList .org.over {
    background-color: @entity-org;
}

.entitiesList .citation .box {
    background-image: url('../img/vcard.png');
}

.entitiesList .citation {
    background-color: mix(desaturate(@entity-citation, 30%), #fff, 50%);
}

.entitiesList .citation.selected, .entitiesList .citation.over {
    background-color: @entity-citation;
}

.entitiesList .note .box {
    background-image: url('../img/note.png');
}

.entitiesList .note {
    background-color: mix(desaturate(@entity-note, 30%), #fff, 50%);
}

.entitiesList .note.selected, .entitiesList .note.over {
    background-color: @entity-note;
}

.entitiesList .title .box {
    background-image: url('../img/book.png');
}

.entitiesList .title {
    background-color: mix(desaturate(@entity-title, 30%), #fff, 50%);
}

.entitiesList .title.selected, .entitiesList .title.over {
    background-color: @entity-title;
}

.entitiesList .correction .box {
    background-image: url('../img/error.png');
}

.entitiesList .correction {
    background-color: mix(desaturate(@entity-correction, 30%), #fff, 50%);
}

.entitiesList .correction.selected, .entitiesList .correction.over {
    background-color: @entity-correction;
}

.entitiesList .keyword .box {
    background-image: url('../img/page_key.png');
}

.entitiesList .keyword {
    background-color: mix(desaturate(@entity-keyword, 30%), #fff, 50%);
}

.entitiesList .keyword.selected, .entitiesList .keyword.over {
    background-color: @entity-keyword;
}

.entitiesList .link .box {
    background-image: url('../img/link.png');
}

.entitiesList .link {
    background-color: mix(desaturate(@entity-link, 30%), #fff, 50%);
}

.entitiesList .link.selected, .entitiesList .link.over {
    background-color: @entity-link;
}

.entitiesList .entityTitle {
    font-size: 1em;
    vertical-align: 6px;
    display: inline-block;
}

.entitiesList .selected .entityTitle {
    color: #fff;
}

.entitiesList .info {
    display: none;
}

.entitiesList li.expanded .info {
    display: block;
    padding: 0px 3px 3px 3px;
}

.entitiesList .info ul {
    list-style: none;
    background-color: #fff;
    padding: 2px;
    color: #000;
    max-height: 160px;
    overflow: auto;
    border-radius: 2px;
}

.entitiesList .info ul li {
    list-style: none;
    height: auto;
    font-size: 1em;
    margin: 5px;
}

.entitiesList > li {
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    border: 1px solid #666;
    margin: 5px 5px 10px 5px;
}

.entitiesList > li:hover {
    cursor: pointer;
}

.entitiesList > li.selected:hover {
    cursor: default;
}