@import (less) "../../../../css/variables.less";

.entitiesList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entitiesList > li {
    list-style: none;
    margin: 5px 5px 10px 5px;
    display: flex;
    // min-height: 40px;
}

.entitiesList > li > div {
    flex: 1;
    border-radius: 4px;
    padding: 5px;
}

.entitiesList > li > div:hover {
    cursor: pointer;
}

.entitiesList > li.selected > div:hover {
    cursor: default;
}

.entitiesList li .icon {
    padding: 4px;
    margin-right: 2px;
    color: #333;
}

.entitiesList .header {
    display: flex;
}

.entitiesList .header .entityTitle {
    flex: 1;
    line-height: 1.5em;
    font-size: 1em;
    vertical-align: 6px;
    display: inline-block;
}

.entitiesList .selected .entityTitle {
    color: #fff;
}

.entitiesList .actions {
    margin: 2px 0 2px 2px;
    display: none;
}

.entitiesList > li:hover .actions, .entitiesList .expanded .actions, .entitiesList > li.candidate .actions {
    display: block;
}

.entitiesList .actions > span {
    background: none !important;
    border: none !important;
}

.entitiesList .info {
    display: none;
}

.entitiesList .expanded > div {
    border-radius: 4px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, .2);
}

.entitiesList .expanded .info {
    display: block;
    padding: 0px 3px 3px 3px;
}

.entitiesList .info ul {
    list-style: none;
    padding: 2px;
    color: #000;
    max-height: 160px;
    overflow: auto;
    border-radius: 2px;
}

.entitiesList .info ul li {
    list-style: none;
    height: auto;
    font-size: 1em;
    margin: 5px;
    word-break: break-all;
}

.entitiesList .info ul li hr {
    border: 0px;
    border-top: 1px solid #BBB !important;
}

.entitiesList.candidates .candidate > div {
    background-color: #eee;
}


.entitiesList .person:hover .icon, .entitiesList.candidates .person.candidate:hover .icon {
    color: @entity-person;
}
.entitiesList .person:hover > div, .entitiesList.candidates .person.candidate:hover > div {
    background-color: fade(@entity-person, 20%);
   
}
.entitiesList .person.expanded > div:hover {
    box-shadow: 0 0px 8px fade(@entity-person, 20%);
}


.entitiesList .place:hover .icon, .entitiesList.candidates .place.candidate:hover .icon {
    color: @entity-place;
}
.entitiesList .place:hover > div, .entitiesList.candidates .place.candidate:hover > div {
    background-color: fade(@entity-place, 20%);
}
.entitiesList .place.expanded > div:hover {
    box-shadow: 0 0px 8px fade(@entity-place, 20%);
}

.entitiesList .org:hover .icon, .entitiesList.candidates .org.candidate:hover .icon {
    color: @entity-org;
}
.entitiesList .org:hover > div, .entitiesList.candidates .org.candidate:hover > div {
    background-color: fade(@entity-org, 20%);
}
.entitiesList .org.expanded > div:hover {
    box-shadow: 0 0px 8px fade(@entity-org, 20%);
}

.entitiesList .title:hover .icon, .entitiesList.candidates .title.candidate:hover .icon {
    color: @entity-title;
}
.entitiesList .title:hover > div, .entitiesList.candidates .title.candidate:hover > div {
    background-color: fade(@entity-title, 20%);
}
.entitiesList .title.expanded > div:hover {
    box-shadow: 0 0px 8px fade(@entity-title, 20%);
}

.entitiesList .rs:hover .icon, .entitiesList.candidates .rs.candidate:hover .icon {
    color: @entity-rs;
}
.entitiesList .rs:hover > div, .entitiesList.candidates .rs.candidate:hover > div {
    background-color: fade(@entity-rs, 20%);
}
.entitiesList .rs.expanded > div:hover {
    box-shadow: 0 0px 8px fade(@entity-rs, 20%);
}

.entitiesList .citation:hover .icon, .entitiesList.candidates .citation.candidate:hover .icon {
    color: @entity-citation;
}
.entitiesList .citation:hover > div, .entitiesList.candidates .citation.candidate:hover > div {
    background-color: fade(@entity-citation, 20%);
}
.entitiesList .citation.expanded > div:hover {
    box-shadow: 0 0px 8px fade(@entity-citation, 20%);
}

.entitiesList .note:hover .icon, .entitiesList.candidates .note.candidate:hover .icon {
    color: @entity-note;
}
.entitiesList .note:hover > div, .entitiesList.candidates .note.candidate:hover > div {
    background-color: fade(@entity-note, 20%);
}
.entitiesList .note.expanded > div:hover {
    box-shadow: 0 0px 8px fade(@entity-note, 20%);
}

.entitiesList .date:hover .icon, .entitiesList.candidates .date.candidate:hover .icon {
    color: @entity-date;
}
.entitiesList .date:hover > div, .entitiesList.candidates .date.candidate:hover > div {
    background-color: fade(@entity-date, 20%);;
}
.entitiesList .date.expanded > div:hover {
    box-shadow: 0 0px 8px fade(@entity-date, 20%);
}


.entitiesList .correction:hover .icon, .entitiesList.candidates .correction.candidate:hover .icon {
    color: @entity-correction;
}
.entitiesList .correction:hover > div, .entitiesList.candidates .correction.candidate:hover > div {
    background-color: fade(@entity-correction, 20%);
}
.entitiesList .correction.expanded > div:hover {
    box-shadow: 0 0px 8px fade(@entity-correction, 20%);
}


.entitiesList .keyword:hover .icon, .entitiesList.candidates .keyword.candidate:hover .icon {
    color: @entity-keyword;
}
.entitiesList .keyword:hover > div, .entitiesList.candidates .keyword.candidate:hover > div {
    background-color: fade(@entity-keyword, 20%);
}
.entitiesList .keyword.expanded > div:hover {
    box-shadow: 0 0px 8px fade(@entity-keyword, 20%);
}


.entitiesList .link:hover .icon, .entitiesList.candidates .link.candidate:hover .icon {
    color: @entity-link;
}
.entitiesList .link:hover > div, .entitiesList.candidates .link.candidate:hover > div {
    background-color: fade(@entity-link, 20%);
}
.entitiesList .link.expanded > div:hover {
    box-shadow: 0 0px 8px fade(@entity-link, 20%);
}
