.imageViewer { display: table; height: 100%; width: 100%; }
.imageViewer .toolbar { display: table-row; height: 32px; }
.imageViewer .image { display: table-row; height: 100%; }
.imageViewer .toolbar .navigation { float: left; }
.imageViewer .toolbar .zoom { float: right; }
.imageViewer .button { display: inline-block; width: 16px; height: 16px; padding: 4px 8px; margin: 3px; background-color: #eee; border: 1px solid #ccc; border-radius: 3px; background-repeat: no-repeat; background-position: center; }
.imageViewer .button:hover { cursor: pointer; background-color: #ccc; border: 1px solid #aaa; }
.imageViewer .pageInfo { display: block; position: relative; float: right; margin: 5px 3px; }
.imageViewer input.currPage { height: 16px; width: 20px; text-align: right; }
.imageViewer .prev { background-image: url(../../../../img/arrow_left.png) }
.imageViewer .next { background-image: url(../../../../img/arrow_right.png) }
.imageViewer .zoomIn { background-image: url(../../../../img/magnifier_zoom_in.png) }
.imageViewer .zoomOut { background-image: url(../../../../img/magnifier_zoom_out.png) }
.imageViewer .home { background-image: url(../../../../img/house.png) }
.imageViewer .openseadragon-message { white-space: pre; }