
.cwrcWrapper {
    margin: 0;
    padding: 0;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.cwrcDialogWrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.cwrcLoadingMask {
    width: 100%;
    height: 100%;
    background-color: #DDD;
    position: absolute;
    z-index: 1000;
}

.cwrcLoadingMask div {
    background-image: url(../img/loading_large.gif);
    background-repeat: no-repeat;
    background-position: left center;
    height: 32px;
    font-size: 1.2em;
    padding-top: 6px;
    padding-left: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cwrcHeader {
    overflow: hidden !important;
    color: #eee !important;
    background-color: #455372 !important;
}

.headerParent {
    display: table;
    height: 35px;
    width: 100%;
    overflow: hidden;
}

.headerButtons {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.headerButtons > div {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;
}

.headerButtons > div:hover {
    text-decoration: underline;
}

.titleLink {
    display: table-cell;
    vertical-align: middle;
    color: #eee !important;
    font-weight: bold;
    text-decoration: none !important;
    padding: 0 0 0 40px;
    background-image: url(../img/cwrc_logo_small.png);
    background-repeat: no-repeat;
    background-position: 5px center;
}

.helpLink {
    background: url("../img/help.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

.fullscreenLink.out {
    background: url("../img/arrow_out.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

.fullscreenLink.in {
    background: url("../img/arrow_in.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

.arrowLeft {
    background-image: url('../img/arrow_left.gif');
}

.arrowRight {
    background-image: url('../img/arrow_right.gif');
}

.cwrc .moduleParent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cwrc .moduleContent {
    padding-top: 5px;
    overflow: auto;
    flex: 1;
}

.cwrc .moduleHeader {
    border-bottom: 1px solid #BBBBBB;
    padding: 5px;
}

.cwrc .moduleFooter {
    border-top: 1px solid #BBBBBB;
    padding: 5px;
}

.cwrc .sortBy > span {
    float: left;
    margin: 0.4em;
}


.cwrc.tabs {
    overflow: hidden;
    padding: 0 !important;
}

.cwrc.tabs > ul {
    padding: 3px 2px 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #b3bbbe !important;
    background: #eee !important;
}

.cwrc.tabs > ul li a {
    padding: 4px 1em !important;
}

.cwrc.tabs .ui-tabs-panel {
    padding: 0 !important;
    height: 100%;
    overflow: auto;
}

.cwrc.tabs > ul li.ui-state-default {
    border-color: #eee !important;
    background: #eee !important;
}

.cwrc.tabs > ul li.ui-state-hover {
    background: #b3bbbe !important;
}

.cwrc.tabs > ul li.ui-state-active {
    border-color: #b3bbbe !important;
    background: #ffffff !important;
}

.cwrc.tabs > ul li.ui-state-active a, .cwrc.tabs > ul li.ui-state-active a:link {
    color: #333333 !important;
}


.loading {
    background-image: url('../img/loading.gif');
    width: 16px;
    height: 16px;
    display: inline-block;
}