/* used to wrap and concat css files */

/* need to specify parentId through build command */
/*@parentId: ~'#cwrcWriterContainer';*/

@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
@import url(https://use.fontawesome.com/releases/v5.12.0/css/solid.css);
@import url(https://use.fontawesome.com/releases/v5.12.0/css/fontawesome.css);

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@{parentId} {
    @import (css) url('../js/layout/layout.css');
    @import (css) url('./style.css');
    @import (css) url('./jquery-ui/jquery-ui.css');
    @import (css) url('../lib/jquery/jquery.layout_and_plugins.css');

    @import (less) url('./icons.less');

    @import (css) url('../js/dialogs/attributeWidget/attributeWidget.css');
    @import (css) url('../js/dialogs/dialogForm/dialogForm.css');
    @import (css) url('../js/dialogs/loadingIndicator/loadingIndicator.css');

    @import (css) url('./tagContextMenu.css');

    @import (less) url('../js/layout/modules/entitiesList/entitiesList.less');
    @import (css) url('../js/layout/modules/imageViewer/imageViewer.css');
    @import (css) url('../js/layout/modules/relations/relations.css');
    @import (css) url('../js/layout/modules/validation/validation.css');
    @import (less) url('../js/layout/modules/nerve/nerve.less');

    // @import (less) url('./../../node_modules/jquery-contextmenu/dist/jquery.contextMenu.css');
    // @import (less) url('./jquery-contextmenu/jquery.contextMenu.css');
    @import (css) url('jquery-contextmenu/jquery.contextMenu.css');
    @import (css) url('prism-themes/themes/prism-ghcolors.css');
    @import (css) url('jstree/dist/themes/default/style.css');
    @import (css) url('./jstree-overrides.css');
}

// @{parentId} {
//     @import (less) url('../../node_modules/jquery-contextmenu/dist/jquery.contextMenu.css');
//     @import (less) url('../../node_modules/prism-themes/themes/prism-ghcolors.css');
//     @import (less) url('../../node_modules/jstree/dist/themes/default/style.css');
//     @import (less) url('./jstree-overrides.css');
// }

/* can't wrap these because otherwise they're TOO specific */
@import (css) url('./tinymce-overrides.css');
