/* used to wrap and concat css files */

/* need to specify parentId through build command */
/*@parentId: ~'#cwrcWriterContainer';*/

@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: none !important;
}

@{parentId} {
    @import (less) url('../js/layout/layout.css');
    @import (less) url('./style.css');
    @import (less) url('./jquery-ui/jquery-ui.css');
    @import (less) url('../lib/jquery/jquery.layout_and_plugins.css');

    @import (less) url('./icons.less');

    @import (less) url('../js/dialogs/attributeWidget/attributeWidget.css');
    @import (less) url('../js/dialogs/dialogForm/dialogForm.css');
    @import (less) url('../js/dialogs/loadingIndicator/loadingIndicator.css');

    @import (less) url('./tagContextMenu.css');

    @import (less) url('../js/layout/modules/entitiesList/entitiesList.less');
    @import (less) url('../js/layout/modules/imageViewer/imageViewer.css');
    @import (less) url('../js/layout/modules/relations/relations.css');
    @import (less) url('../js/layout/modules/validation/validation.css');
    @import (less) url('../js/layout/modules/nerve/nerve.less');

    @import (less) url('jquery-contextmenu/dist/jquery.contextMenu.css');
    @import (less) url('prism-themes/themes/prism-ghcolors.css');
    @import (less) url('jstree/dist/themes/default/style.css');
    @import (less) url('./jstree-overrides.css');
}

/* can't wrap these because otherwise they're TOO specific */
@import (less) url('./tinymce-overrides.css');
