/* This CSS gets applied to the tinymce editor */

.showEntities .entity, .ui-dialog-content .entity {
    border-width: 1px;
    border-bottom-style: dotted;
}

.showEntities .entityHighlight .entity {
    border-width: 2px;
}

.entityHighlight.person {
    background-color: rgba(255,0,0,0.2);
}

.entityHighlight.date {
    background-color: rgba(255,116,0,0.2);
}

.entityHighlight.place {
    background-color: rgba(0,153,153,0.2);
}

.entityHighlight.event {
    background-color: rgba(0,204,0,0.2);
}

.entityHighlight.org {
    background-color: rgba(57,20,175,0.2);
}

.entityHighlight.title {
    background-color: rgba(222,187,0,0.2);
}

.entityHighlight.correction {
    background-color: rgba(255,51,0,0.2);
}

.entityHighlight.link {
    background-color: rgba(51,102,255,0.2);
}


.showEntities .person, .ui-dialog-content .person {
    border-color: #FF0000;
}

.showEntities .date, .ui-dialog-content .date {
    border-color: #FF7400;
}

.showEntities .place, .ui-dialog-content .place {
    border-color: #009999;
}

.showEntities .event, .ui-dialog-content .event {
    border-color: #00CC00;
}

.showEntities .org, .ui-dialog-content .org {
    border-color: #3914AF; 
}

.showEntities .title, .ui-dialog-content .title {
    border-color: #debb00;
}

.showEntities .correction, .ui-dialog-content .correction {
    border-color: #FF3300;
}

.showEntities .link, .ui-dialog-content .link {
    border-color: #3366ff;
}

/* special handling for note type entities */
.citation, .note, .keyword {
    /*height: 16px !important;
    width: 16px !important;*/
    cursor: pointer;
}

span:not(.entityHighlight) > .start.note::after, div > .start.note::after {
    content: url(../img/note_inline_large.png);
}

span:not(.entityHighlight) > .start.citation::after, div > .start.citation::after {
    content: url(../img/citation_inline_large.png);
}

span:not(.entityHighlight) > .start.keyword::after, div > .start.keyword::after {
    content: url(../img/keyword_inline_large.png);
}

.entityHighlight > .note::after {
    content: url(../img/note_inline_large_highlight.png);
}

.entityHighlight > .citation::after {
    content: url(../img/citation_inline_large_highlight.png);
}

.entityHighlight > .keyword::after {
    content: url(../img/keyword_inline_large_highlight.png);
}

.showEntities .citation.start, .showEntities .note.start, .showEntities .keyword.start {
    border: none !important;
}



span[data-mce-bogus] {
    height: 0px;
    width: 0px;
    line-height: 0px;
    font-size: 0px;
    display: none;
}

.titleTagQuotes:before, .quoteTagShort:before {
    content: open-quote;
}

.titleTagQuotes:after, .quoteTagShort:after {
    content: close-quote;
}

.titleTagItalics {
    font-style: italic;
}

.quoteTagLong {
    display: block;
    margin-left: 25px;
}

.quoteTag {
}

.headTag {
    font-size: 120%;
    font-weight: bold;
}

.emphTag {
    font-style: italic;
}