html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333;
}

.cwrcWrapper {
    margin: 0;
    padding: 0;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.cwrcDialogWrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.cwrc {
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 14px;
}

.cwrc h1 {
    font-size: 1.1em;;
}

.cwrc h2 {
    font-size: 1em;
    line-height: 1.2em;
}

.cwrc h3 {
    font-size: 1em;
}

.cwrc h1, h2, h3 {
    margin: 0;
}

.cwrc textarea {
    overflow: auto;
    resize: none;
}

.cwrc label {
    margin-right: 5px;
    display: inline;
}

.cwrcLoadingMask {
    width: 100%;
    height: 100%;
    background-color: #DDD;
    position: absolute;
    z-index: 1000;
}

.cwrcLoadingMask div {
    background-image: url(../img/loading_large.gif);
    background-repeat: no-repeat;
    background-position: left center;
    height: 32px;
    font-size: 1.2em;
    padding-top: 6px;
    padding-left: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cwrcHeader {
    overflow: hidden !important;
    color: #eee !important;
    background-color: #455372 !important;
}

.headerParent {
    display: table;
    height: 35px;
    width: 100%;
    overflow: hidden;
}

.headerButtons {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.headerButtons > div {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;
}

.headerButtons > div:hover {
    text-decoration: underline;
}

.titleLink {
    display: table-cell;
    vertical-align: middle;
    color: #eee !important;
    font-weight: bold;
    text-decoration: none !important;
    padding: 0 0 0 40px;
    background-image: url(../img/cwrc_logo_small.png);
    background-repeat: no-repeat;
    background-position: 5px center;
}

.helpLink {
    background: url("../img/help.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

.fullscreenLink.out {
    background: url("../img/arrow_out.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

.fullscreenLink.in {
    background: url("../img/arrow_in.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

.arrowLeft {
    background-image: url('../img/arrow_left.gif');
}

.arrowRight {
    background-image: url('../img/arrow_right.gif');
}

.cwrc .moduleParent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cwrc .moduleContent {
    padding-top: 5px;
    overflow: auto;
    flex: 1;
}

.cwrc .moduleFooter {
    border-top: 1px solid #BBBBBB;
    padding: 5px;
}

.cwrc .sortBy > span {
    float: left;
    margin: 0.4em;
}


.cwrc.tabs {
    overflow: hidden;
    padding: 0 !important;
}

.cwrc.tabs > ul {
    padding: 3px 2px 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #b3bbbe !important;
    background: #eee !important;
}

.cwrc.tabs > ul li a {
    padding: 4px 1em !important;
}

.cwrc.tabs .ui-tabs-panel {
    padding: 0 !important;
    height: 100%;
    overflow: auto;
}

.cwrc.tabs > ul li.ui-state-default {
    border-color: #eee !important;
    background: #eee !important;
}

.cwrc.tabs > ul li.ui-state-hover {
    background: #b3bbbe !important;
}

.cwrc.tabs > ul li.ui-state-active {
    border-color: #b3bbbe !important;
    background: #ffffff !important;
}

.cwrc.tabs > ul li.ui-state-active a, .cwrc.tabs > ul li.ui-state-active a:link {
    color: #333333 !important;
}


.loading {
    background-image: url('../img/loading.gif');
    width: 16px;
    height: 16px;
    display: inline-block;
}

#structureTreeActions {
    overflow: hidden;
}

.entitiesList, .relationsList, .validationList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entitiesList li .box {
    width: 22px;
    height: 22px;
    margin-right: 2px;
    display: inline-block;
    background-position: 3px 3px;
    background-repeat: no-repeat;
}

.entitiesList .person .box {
    background-image: url('../img/user.png');
}

.entitiesList .person .box, .entitiesList .person.over {
    background-color: #ff8080;
}

.entitiesList .person.selected, .entitiesList .person.selected .box {
    background-color: #FF0000;
}

.entitiesList .place .box {
    background-image: url('../img/world.png');
}

.entitiesList .place .box, .entitiesList .place.over {
    background-color: #4c9999;
}

.entitiesList .place.selected, .entitiesList .place.selected .box {
    background-color: #009999;
}

.entitiesList .date .box {
    background-image: url('../img/calendar.png');
}

.entitiesList .date .box, .entitiesList .date.over {
    background-color: #ffb980;
}

.entitiesList .date.selected, .entitiesList .date.selected .box {
    background-color: #FF7400;
}

.entitiesList .event .box {
    background-image: url('../img/cake.png');
}

.entitiesList .event .box, .entitiesList .event.over {
    background-color: #66cc66;
}

.entitiesList .event.selected, .entitiesList .event.selected .box {
    background-color: #00CC00;
}

.entitiesList .org .box {
    background-image: url('../img/group.png');
}

.entitiesList .org .box, .entitiesList .org.over {
    background-color: #8172b0;
}

.entitiesList .org.selected, .entitiesList .org.selected .box {
    background-color: #3914AF;
}

.entitiesList .citation .box {
    background-image: url('../img/vcard.png');
}

.entitiesList .citation .box, .entitiesList .citation.over {
    background-color: #cc66a0;
}

.entitiesList .citation.selected, .entitiesList .citation.selected .box {
    background-color: #CD0074;
}

.entitiesList .note .box {
    background-image: url('../img/note.png');
}

.entitiesList .note .box, .entitiesList .note.over {
    background-color: #6c88a6;
}

.entitiesList .note.selected, .entitiesList .note.selected .box {
    background-color: #0D56A6;
}

.entitiesList .title .box {
    background-image: url('../img/book.png');
}

.entitiesList .title .box, .entitiesList .title.over {
    background-color: #f2d747;
}

.entitiesList .title.selected, .entitiesList .title.selected .box {
    background-color: #debb00;
}

.entitiesList .correction .box {
    background-image: url('../img/error.png');
}

.entitiesList .correction .box, .entitiesList .correction.over {
    background-color: #FF9980;
}

.entitiesList .correction.selected, .entitiesList .correction.selected .box {
    background-color: #FF3300;
}

.entitiesList .keyword .box {
    background-image: url('../img/page_key.png');
}

.entitiesList .keyword .box, .entitiesList .keyword.over {
    background-color: #1da862;
}

.entitiesList .keyword.selected, .entitiesList .keyword.selected .box {
    background-color: #008040;
}

.entitiesList .link .box {
    background-image: url('../img/link.png');
}

.entitiesList .link .box, .entitiesList .link.over {
    background-color: #6289ff;
}

.entitiesList .link.selected, .entitiesList .link.selected .box {
    background-color: #3366ff;
}

.entitiesList .entityTitle {
    font-size: 1em;
    vertical-align: 6px;
}

.entitiesList .selected .entityTitle {
    color: #fff;
}

.entitiesList .info {
    display: none;
    padding: 0px 3px 3px 3px;
}

.entitiesList .info ul {
    list-style: none;
    background-color: #fff;
    padding: 2px;
    color: #000;
    max-height: 160px;
    overflow: auto;
    border-radius: 2px;
}

.entitiesList .info li {
    height: auto;
    font-size: 1em;
}

.entitiesList li {
    list-style: none;
}

.entitiesList > li:hover {
    cursor: pointer;
}

.entitiesList > li.selected:hover {
    cursor: default;
}

.relationsList li, .validationList li {
    padding: 3px 5px;
}

.relationsList li:hover, .validationList li:hover {
    background-color: #eee !important;
    cursor: pointer;
}

.relationsList li {
    background-color: #fff;
}

.relationsList li.selected, .validationList li.selected {
    background-color: #d3d3d3 !important;
}

.validationList li {
    border: none !important;
    background: none !important;
    color: #333333 !important;
}

.loadingIndicatorDialog .progressBar {
    position: relative;
}

.loadingIndicatorDialog .progressLabel {
    position: absolute;
    left: 30%;
    top: 4px;
}

.loadingIndicatorDialog .ui-progressbar-value {
    background: #6395F2 !important;
}

.ui-accordion-icons > div {
    margin-bottom: 0px !important;
}

.searchResultsParent {
    margin: 0;
    border: 1px solid #fff;
}

.searchResults {
    margin: 0;
    padding: 0;
    list-style: none;
}

.searchResults li {
    font-size: 1em;
    background-color: #fff;
    padding: 2px 5px;
    border-bottom: 1px solid #ccc;
}

.searchResults li.last {
    border: none;
}

.searchResults li:hover {
    background-color: #F0F0EE;
    cursor: pointer;
}

.searchResults li.selected {
    background-color: #9ac6eb;
}

.searchResults li span {
    display: block;
}

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}

.annotationDialog {
    display: flex;
    flex-direction: column;
}

.annotationDialog .writerParent {
    flex: 1;
}

.annotationDialog p {
    margin: 5px 0px;
}

.annotationDialog > div {
    margin-bottom: 15px !important;
}

.annotationDialog .ui-accordion-content {
  padding: 5px 10px !important;
}

.annotationDialog .tagAs {
    font-size: 1.2em;
    display: inline-block;
    width: 98%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.annotationDialog .attributes {
    position: relative;
    height: 200px;
}

.schemaDialog {
    padding: 0.5em 0.5em 0;
}

.schemaDialog .content {
    margin-bottom: 0;
}

.cwrc .popup.ui-dialog .ui-widget-header {
    border: none;
    background-color: #ffffff;
    font-weight: normal;
}

.cwrc .popup.ui-dialog .ui-widget-content {
    padding: 0;
}

.cwrc .popup.ui-dialog .ui-dialog-title {
    width: auto;
    overflow: auto;
    white-space: normal;
    max-height: 250px;
}

.cwrc .link.ui-dialog .ui-dialog-title {
    text-decoration: underline;
    cursor: pointer;
}

.attributeWidget {
    display: flex;
    flex-direction: row;
}

.attributeWidget label {
    display: inline;
}

.attributeWidget input, .attributeWidget select {
    width: 80%;
    border: 1px solid #ccc;
}

.attributeWidget .attributeSelector {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
}

.attributeWidget .attributeSelector ul {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.attributeWidget .attributeSelector li {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    background-color: #fff;
}

.attributeWidget .attributeSelector li:hover {
    background-color: #ddd;
    cursor: pointer;
}

.attributeWidget .attributeSelector li.selected {
    background-color: #ccc;
}

.attributeWidget .attsContainer {
    flex: 2;
    margin-left: 5px;
    overflow: auto;
}

.attributeWidget .atts {
    float: left;
    clear: left;
}

.attributeWidget .attsContainer label {
    width: 135px;
}

.attributeWidget .schemaHelp {
    flex: 1;
    margin-left: 5px;
    height: 100%;
    overflow: auto;
}

.attributeWidget .schemaHelp h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

.attributeSelector h2, .triplesDialog h2 {
    padding: 3px;
    background-color: #ccc;
    border-bottom: 1px solid #999;
}

.cwrc .required {
    color: red;
}

.cwrc-tooltip {
    max-width: 250px;
    background-color: #fff;
}

.triplesDialog .columns {
    width: 100%;
    height: 80%;
}

.triplesDialog .column {
    border: 1px solid #999;
    height: 100%;
    display: flex;
    flex-direction: column;
    float: left;
    width: 31%;
    margin-right: 1%;
}

.triplesDialog .currentRelation {
    height: 15%;
    text-align: center;
}

.triplesDialog .currentRelation p {
    margin: 5px;
    font-size: 1em;
}

.triplesDialog .column > ul {
    flex: 1;
    overflow: auto;
}

.triplesDialog .column > ul li {
    list-style: none;
    margin: 0;
}

.triplesDialog .entitiesList li.selected {
}

.triplesDialog .column.predicate ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.triplesDialog .column.predicate li {
    padding: 3px;
    background-color: #fff;
}

.triplesDialog .column.predicate li:hover {
    background-color: #ddd;
    cursor: pointer;
}

.triplesDialog .column.predicate li.selected {
    background-color: #ccc;
}

.triplesDialog .customEntry {
    border-top: 1px solid #999;
    background-color: #ccc;
    padding: 2px;
    margin: 0;
    text-align: center;
}

.triplesDialog .customEntry input {
    width: 95%;
    text-align: left;
}

.headerDialog div {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

.headerDialog textarea {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* used by schematags plugin */
.scrollingMenuContainer {
    border: 1px solid #D4D0C8 !important;
    direction: ltr !important;
    left: 0 !important;
    position: absolute !important;
    top: 26px !important;
    z-index: 1000 !important;
}

.scrollingMenuContainer .mceMenuItemDisabled {
    visibility: collapse !important;
}

.scrollingMenuContainer .mceMenuItemDisabled * {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.cwrc .inputParent {
    background-color: #ffffff !important;
    border: 1px solid #D4D0C8 !important;
    position: absolute !important;
    z-index: 100000 !important;
    font-size: 1em !important;
}

.cwrc .inputParent span {
    margin: 4px 0 4px 3px !important;
    display: inline-block !important;
}

.cwrc .inputParent input {
    margin: 4px 3px !important;
    position: relative !important;
    display: inline-block !important;
    cursor: text !important;
}

.mce-cwrc.mce-btn {
    border: none;
    background: rgba(0, 0, 0, 0);
    margin-bottom: 1px;
}

.mce-cwrc.mce-btn button i {
    margin-right: 4px;
    padding: 0px;
}

.mce-cwrc.mce-btn.mce-active, .mce-cwrc.mce-btn:hover {
    background-color: #2d8ac7 !important;
}

.mce-cwrc.mce-btn.mce-active button, .mce-cwrc.mce-btn:hover button {
    text-decoration: none;
    color: #fff !important;
}

.mce-cwrc label {
    padding: 6px 15px 6px 12px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* used by the entity plugin */
.entityButton img {
    height: 16px !important;
    width: 16px !important;
    margin: 2px !important;
}

.wideButton {
    height: 20px !important;
    width: 34px !important;
    margin: 2px !important;
}

.wideButton img {
    height: 20px !important;
    width: 32px !important;
    margin: 2px !important;
}

.currentTagButton {
    height: 20px !important;
    width: auto !important;
    margin: 2px !important;
}

.currentTagButton .mceIcon {
    font-weight: bold;
    font-size: 1em;
}

/* tinymce context menu overrides */
.mce-cwrc .mce-menu-item {
    padding: 4px 2px;
}

.mce-cwrc .mce-menu-item span, .mce-cwrc .mce-btn span {
    font-size: 1em;
}

.mce-cwrc .mce-btn {
    padding: 4px 6px;
}

.mce-cwrc .mce-btn button {
    font-size: 1em;
    line-height: 14px;
    padding: 0px;
}

div.mce-cwrc div.mce-menu-item-sep, div.mce-cwrc div.mce-menu-item-sep:hover {
    margin: 1px;
}

.mce-cwrc input.mce-textbox {
    font-size: 1em;
    height: 26px;
}


/* tinymce overrides */
.mce-tinymce.mce-container {
    overflow: hidden; /* needed to prevent scrollbars from jquery dialogs */
    border-width: 0px !important;
}

div.mceDropDown {
    box-shadow: 1px 1px 2px #ccc;
}

/* jquery ui overrides */
.splitButtons .ui-dialog-buttonpane {
    padding: 0.3em 1em 0.5em 1em !important;
}

.splitButtons .ui-dialog-buttonset {
    float: none !important;
}

.splitButtons .ui-dialog-buttonset button {
    float: right;
}

.splitButtons .ui-dialog-buttonset button.left {
    float: left;
}

.ui-icon-help {
    cursor: pointer;
}