.cwrc {
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 14px;
}

.cwrc h1 {
    font-size: 1.1em;
}

.cwrc h2 {
    font-size: 1em;
    line-height: 1.2em;
}

.cwrc h3 {
    font-size: 1em;
}

.cwrc h1, h2, h3 {
    margin: 0;
}

.cwrc textarea {
    overflow: auto;
    resize: none;
}

.cwrc label {
    margin-right: 5px;
    display: inline;
}

.ui-accordion-icons > div {
    margin-bottom: 0px !important;
}

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}

.cwrc .popup.ui-dialog .ui-widget-header {
    display: none;
}

.cwrc .popup.ui-dialog .ui-widget-content {
    padding: .4em 1em;
}

.cwrc .popup.link.ui-dialog .ui-widget-content {
    text-decoration: underline;
    cursor: pointer;
}

.cwrc .required {
    color: red;
}

.cwrc-tooltip {
    max-width: 250px;
    background-color: #fff;
}

.headerDialog div {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

.headerDialog textarea {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
