.cwrc.context-menu-root {
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 14px;
    z-index: 5 !important;
}

.cwrc .context-menu-list {
    box-sizing: border-box;
    width: 260px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10 !important;
}

.cwrc .context-menu-list.entities {
    width: 160px;
}

.cwrc .context-menu-item .fullName {
    color: #aaa;
    font-size: 12px;
    white-space: nowrap;
}

.cwrc .context-menu-input.context-menu-hover {
    background-color: #fff;
}

.cwrc .context-menu-item.context-menu-icon {
    background-repeat: no-repeat;
    background-position: 6px center;
}

.cwrc .context-menu-icon-loading:before {
    display: none;
}

.cwrc .context-menu-item.context-menu-icon-tag {
    background-image: url(../img/tag_blue.png);
}

.cwrc .context-menu-item.context-menu-icon-tag_add {
    background-image: url(../img/tag_blue_add.png);
}

.cwrc .context-menu-item.context-menu-icon-tag_edit {
    background-image: url(../img/tag_blue_edit.png);
}

.cwrc .context-menu-item.context-menu-icon-tag_remove {
    background-image: url(../img/tag_blue_delete.png);
}

.cwrc .context-menu-item.context-menu-icon-tag_copy {
    background-image: url(../img/tag_blue_copy.png);
}

.cwrc .context-menu-item.context-menu-icon-tag_paste {
    background-image: url(../img/tag_blue_paste.png);
}

.cwrc .context-menu-item.context-menu-icon-tag_split {
    background-image: url(../img/arrow_divide.png);
}

.cwrc .context-menu-item.context-menu-icon-tag_merge {
    background-image: url(../img/arrow_join.png);
}

.cwrc .context-menu-item.context-menu-icon-no_tags {
    background-image: url(../img/cross.png);
}

/* entities */

.cwrc .context-menu-item.context-menu-icon-person {
    background-image: url(../img/user.png);
}

.cwrc .context-menu-item.context-menu-icon-place {
    background-image: url(../img/world.png);
}

.cwrc .context-menu-item.context-menu-icon-date {
    background-image: url(../img/calendar.png);
}

.cwrc .context-menu-item.context-menu-icon-org {
    background-image: url(../img/group.png);
}

.cwrc .context-menu-item.context-menu-icon-citation {
    background-image: url(../img/vcard.png);
}

.cwrc .context-menu-item.context-menu-icon-note {
    background-image: url(../img/note.png);
}

.cwrc .context-menu-item.context-menu-icon-title {
    background-image: url(../img/book.png);
}

.cwrc .context-menu-item.context-menu-icon-correction {
    background-image: url(../img/error.png);
}

.cwrc .context-menu-item.context-menu-icon-keyword {
    background-image: url(../img/key.png);
}

.cwrc .context-menu-item.context-menu-icon-link {
    background-image: url(../img/link.png);
}

.cwrc .context-menu-item.context-menu-icon-rs {
    background-image: url(../img/package_green.png);
}
