@import (less) "variables.less";

.nervePanel .moduleHeader > div {
    margin: 5px;
}

.nervePanel .filters > span {
    cursor: pointer;
    text-decoration: underline;
    white-space: nowrap;
    display: inline-block;
    padding: 2px 5px;
}

.nervePanel .filters > span.active {
    text-decoration: none;
}

.nervePanel .filters .person {
    color: @entity-person;
}

.nervePanel .filters .place {
    color: @entity-place;
}

.nervePanel .filters .org {
    color: @entity-org;
}

.nervePanel .filters .title {
    color: @entity-title;
}

.nervePanel .entitiesList > li > input {
    margin: 6px 5px 0 0;
}

.nervePanel .entitiesList .header {
    display: flex;
}

.nervePanel .entitiesList .header .entityTitle {
    flex: 1;
    line-height: 1.5em;
}

.nervePanel .entitiesList .actions {
    margin: 6px 0 2px 2px;
}

.nervePanel .entitiesList .nav {
    margin-bottom: 4px;
    padding-left: 30px;
}

.nervePanel .entitiesList .actions {
    display: none;
}

.nervePanel .entitiesList > li:hover .actions, .nervePanel .entitiesList .expanded .actions {
    display: block;
}

.nervePanel .entitiesList .actions > span, .nervePanel .entitiesList .nav > span {
    background: none;
    border: none;
}
